App_Launcher/venv/
Data_Frame/venv/
Simple_Text_Editor/venv/
Temp_Converter/venv/
Tic_Tac_Toe/venv/
Weather_App/venv/
Palindrome/venv/
App_Launcher/
Simple_Text_Editor/
Tic_Tac_Toe/
Guessing_Game/venv